@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(48, 189, 245, 0.63);
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  border-bottom: 3px solid #ffffffb0;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #ffffff;
  font-style: oblique;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #ffffff;
}


.titulo {
  color: #ffffff;
  width: fit-content;
  font-weight: 400;
}


/* BANNER */

.banner {
  height: fit-content;
  color: rgba(48, 189, 245, 0.63); 
  box-shadow: 0 1px 10px 13px rgb(33, 136, 177);
}

.container1{
  position: absolute;
  display: flex;
  left: 100px;
  top: 100px;
}
.txt1{
  font-style: italic;
  display: flex;
  justify-content: flex-start;  
  
}

.container2{
  position: absolute;
  display: flex;
  left: 500px;
  top: 300px;

}

.txt2{
  
  font-style: italic;
  display: flex;
  justify-content: flex-start;  
  
}

.container3{
  position: absolute;
  display: flex;
  left: 980px;
  top: 400px;
}

.txt3{
  
  font-style: italic;
  display: flex;
  justify-content: flex-start;  
  
}

.banner .video{
  height: 100%;
  width: 100%;
  
  
}


.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

.pred{
  height: 300px;

}
.pred1{
  padding: 5%;
  height: 80px;
  font-size: 60px;
  font-style: italic;
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.d1{
  height: fit-content;
  background-image: url(".././assets/imgs/fitness1.jpg");
  background-size: cover;
  box-shadow: 0 1px 10px 13px rgb(33, 136, 177);
  height: 600px;
}
.d1d1{
  width: 500px;
  margin-left: 800px;
  font-style: italic;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  background-color: #ffffff81;
  border-radius: 30px;
}

.d1d2{
  width: 300px;
  margin-left: 10%;
  font-style: italic;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  background-color: #ffffff81;
  border-radius: 30px;

}
.d1d3{
  width: 500px;
  margin-left: 800px;
  font-style: italic;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  background-color: #ffffff81;
  border-radius: 30px;

}

.d1d4{
  width: 300px;
  margin-left: 10%;
  font-style: italic;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  background-color: #ffffff81;
  border-radius: 15px;

}

/* missao visao valores */
.boxes{

  display: flex;
  flex-direction: column;
}
.social {
  background-color: #66515133;
  display: flex;
}

.social .container{
  justify-content: center;
}

.box img {
  width: 230px;
  height: 230px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}


.box {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* FOOTER */

.footer {
  background-color:  rgba(7, 121, 167, 0.87);
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* SIMULADOR */

.containerPRO{
  padding: 70px;
  box-shadow: 0 1px 10px 13px rgb(33, 136, 177);
  background-image: url("../assets/imgs/calc1.png");
}
.containerCARB{
  padding: 70px;
  box-shadow: 0 1px 10px 13px rgb(33, 136, 177);
  background-image: url("../assets/imgs/calc2.png");
  background-size: 1800px;
}
.int{
  font-style: italic;
  align-items: center;
  flex-direction: column;
}

.int2{
  
  display: flex;
  justify-content: center;
}

.int3{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.int4{
  display: flex;
  justify-content: center;
  
}

.result1{

  color: #0063e4;
  font-size: x-large;
  display: flex;
  justify-content: center;
}
.simulador .containerPRO .button1 {
  margin-top: 20px;
  width: 120px;
  color: #ffffff;
  background-color: rgb(33, 136, 177);
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.simulador .containerCARB .button1 {
  margin-top: 20px;
  width: 120px;
  color: #ffffff;
  background-color: rgb(33, 136, 177);
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* LOGIN */

.bannerL{

  background-image: url(../assets/imgs/login.jpg);
  background-size: 1000px;

}
.bannerL .container .card {
  background-color:  rgba(48, 189, 245, 0.63);
  height: fit-content;
  width: 400px;
  height: 300px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  margin-left: 30%;
  flex-direction:column-reverse;
  color: rgba(255, 255, 255, 0.959);
  align-items: center;
  border-radius: 10px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}


button {
  cursor: pointer;
}

/* FORMULARIO */

.bannerC{

  background-image: url(../assets/imgs/login.jpg);
  background-size: 1200px;
  height: 800px;

}
.bannerC .container .card {
  background-color:  rgba(48, 189, 245, 0.63);
  height: fit-content;
  padding: 80px;
  margin-top: 25px;
  display: flex;
  margin-left: 30%;
  flex-direction:column-reverse;
  color:rgb(255, 255, 255);
  align-items: center;
  border-radius: 10px;
}
.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: rgb(33, 136, 177) 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: rgb(33, 136, 177);
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */
.janela {
  display: flex;
  width: 100vw;
}

.txtIMC{
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.containerIMC{
  color: #000000;
  padding: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dash .containerIMC .button1 {
  margin-top: 20px;
  width: 120px;
  color: #ffffff;
  background-color: rgb(33, 136, 177);
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.janela .containerTRE{
  padding-left: 480px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  color: #000000;
}
.resultTRE1{
  padding: 15px;
}
.combo1{
  margin-top: 20px;
  width: 180px;
  color: #ffffff;
  background-color: rgb(33, 136, 177);
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.resultTRE2{
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  height: 1250px;
  box-shadow: 0 1px 15px 18px rgb(33, 136, 177);
  font-style: italic;
  font-weight: bold;
  color: rgb(33, 136, 177);
 }
 .janela .containerTRE .button1 {
  margin-top: 20px;
  width: 120px;
  color: #ffffff;
  background-color: rgb(33, 136, 177);
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 1px 10px 13px rgb(33, 136, 177);
  background-color: rgb(0, 104, 145);
  /* border: 3px solid pink; */
}
.header-left2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 1px 10px 13px rgb(33, 136, 177);
  background-color: rgb(0, 104, 145);
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-image: url(../assets/imgs/forum.png);
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: black;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: rgba(33, 136, 177, 0.705);
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid rgb(33, 136, 177);
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: rgba(33, 136, 177, 0.705);
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}